@media only screen and (max-width:820px) {


    .header-container {
        width: 100%;
    }

    .menu {
        /* display: none; */
    }

    #banner {
        width: 100%;
    }

    .banner-container {
        width: 90%;
        grid-template-columns: auto;
    }

    .banner-img {
        width: 80%;
    }

    #company-logo {
        height: auto;
        padding: 20px 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .company-logo-container {
        width: 90%;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .company-logo-img {
        padding: 8px 0;
    }

    .aboutus-content {
        width: 90%;
        grid-template-columns: auto;
    }

    .about-us {
        width: 90%;
        grid-template-columns: auto;
    }

    .Question-container {
        width: 90%;
    }

    .Question-content {
        width: 90%;
        grid-template-columns: auto;
    }

    .Question-content-right {
        width: 100%;
    }

    .progress-content {
        width: 90%;
        grid-template-columns: auto;
    }

    .service-container {
        width: 90%;
    }

    .service {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    .fixed-img-box {
        width: 90%;

    }

    .team-container {
        width: 90%;

    }

    .team-box {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        grid-template-columns: auto;
        padding: 15px;
    }

    .pricing-content {
        width: 90%;
        grid-template-columns: auto;
        text-align: center;
    }

    .para {
        width: 90%;
    }

    .address-container {
        width: 90%;
    }

    .address-info {
        width: 90%;
    }

    .add-info {
        width: 90%;
        grid-template-columns: auto;
    }

    

    .newsletter-content {
        width: 90%;
    }

    .subscribe {
        width: 90%;
    }

    .footer-content {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright-content {
        width: 100%;
    }

}

@media only screen and (min-width:500px) {
    .toggle-btn {
        display: none;
    }


}

@media only screen and (max-width:501px) {
    .menu {
        width: 30%;
        height: 100vh;
        padding: 20px 18px;
        display: none;
        background-color: #E19898;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
    }

    .menu ul li a {
        flex-direction: column !important;
        margin-top: 20px;
    }

    .menu.show {
        display: flex;
    }

    .toggle-btn {
        font-size: 30px;
        margin: 0px 38px;
    }

    .back-menu {
        display: flex;
        margin-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .add-info{
        display: flex;
        flex-direction: column;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
    }

    .team-icons{
        /* display: grid;
        grid-template-columns: repeat(2, 1fr ); */
    }
    .team-box{
        display: flex;
        flex-direction: column;
    }
}